<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <title>评委打分</title>
</head>
<body>
<div id="container-sm">
    <!-- 顶部 -->
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <img th:src="@{/img/LOGO.png}" class="img-responsive" alt="Responsive image">
            </div>

            <div class="col-md-6 pt-5">
                <img th:src="@{/img/评委主页面.png}" class="img-responsive" alt="Responsive image">
            </div>

        </div>
    </div>


    <!-- 搜索框 -->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin: 20px auto 20px auto ;">
            <form action="#" method="" class="bs-example bs-example-form" role="form">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" style="height: 40px;" placeholder="输入选手姓名进行快速定位搜索"
                           aria-label="Recipient's username" aria-describedby="basic-addon2"/>
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            搜索
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>


    <!-- 比赛结果排序界面 -->
    <div class="row">
        <div class="container-fluid">
            <div class="pb-5">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="row pt-3">

                            <div class="col-4 pt-3">
                                <div class="thumbnail">
                                    <img alt="Bootstrap Image Preview" th:src="@{/img/plays1.png}"/>
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="text" readOnly="true" class="form-control" value="选手姓名："
                                                       style="width: 80px"/>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control " readOnly="true"
                                                       style="width: 100%;display:inline-block;"/>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="text" readOnly="true" class="form-control" value="歌唱曲目："
                                                       style="margin-top: 10px;width: 80px"/>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control " readOnly="true"
                                                       style="margin-top: 10px;width: 100%;display:inline-block;"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="text" readOnly="true" class="form-control" value="最终分数："
                                                       style="margin-top: 10px;width: 80px"/>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control " readOnly="true"
                                                       style="margin-top: 10px;width: 100%;display:inline-block;"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>

<!-- 分页栏 -->
<div class="container-fluid">
    <div class="pt-4">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">上一页</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">下一页</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>

</div>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</html>
