<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
		<title>评委打分</title>
	</head>
	<body>
		<div id="container" >
			<div class="container">
				<div class="row">
			
					<div class="col-md-4">
						<img th:src="@{/img/LOGO.png}" class="img-responsive" alt="Responsive image">
					</div>
			
					<div class="col-md-6 pt-5">
						<img  th:src="@{/img/评委主页面.png}" class="img-responsive" alt="Responsive image">
					</div>
			
				</div>
			</div>
			

			<!-- 横线 -->
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="col px-md-5">
						<div class="pb-2">
							<div style="width: 100%; height: 1px; background-color: black;"></div>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
				
				<div class="col-md-2"></div>
				<div class="col-md-8 ml-4">
					<div class="alert alert-secondary " role="alert">
						评委你好！以下比赛正在等待你的评分!
					</div>
					
				</div>
			</div>



					<!-- 投票主界面 -->
					<div class="row">
						<div class="container-fluid">
							<div class="pb-5">
								<ul>
									<div class="row">
										<div class="col-md-2">
										</div>
										<div class="col-md-8">
											<div class="row">
												<div class="col-md-4">
													<div class="card">
														<img class="card-img-top" alt="Bootstrap Thumbnail Second"
															src="./img/GA5W1Q69%5B~EA%7B998)YJ6M2E.jpg" />
														<div class="container">
															<div class="card-block pt-3">
																<h5 class="card-title">
																	第一届歌唱大赛（初赛）
																</h5>
																<p class="card-text">
																	开始时间：
																</p>
																<p class="card-text">
																	结束时间：
																</p>

															</div>

															<div class="pt-3 pb-3">
																<a class="btn btn-primary btn-block " href="#">打分</a>
															</div>
														</div>

													</div>
												</div>
												<div class="col-md-4">
													<div class="card">
														<img class="card-img-top" alt="Bootstrap Thumbnail Second"
															src="./img/GA5W1Q69%5B~EA%7B998)YJ6M2E.jpg" />
														<div class="container">
															<div class="card-block pt-3">
																<h5 class="card-title">
																	第一届歌唱大赛（初赛）
																</h5>
																<p class="card-text">
																	开始时间：
																</p>
																<p class="card-text">
																	结束时间：
																</p>

															</div>

															<div class="pt-3 pb-3">
																<a class="btn btn-primary btn-block " href="#">打分</a>
															</div>
														</div>

													</div>
												</div>
												<div class="col-md-4">
													<div class="card">
														<img class="card-img-top" alt="Bootstrap Thumbnail Second"
															src="./img/GA5W1Q69%5B~EA%7B998)YJ6M2E.jpg" />
														<div class="container">
															<div class="card-block pt-3">
																<h5 class="card-title">
																	第一届歌唱大赛（初赛）
																</h5>
																<p class="card-text">
																	开始时间：
																</p>
																<p class="card-text">
																	结束时间：
																</p>

															</div>

															<div class="pt-3 pb-3">
																<a class="btn btn-primary btn-block " href="#">打分</a>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>
								</ul>
							</div>
								<ul>
									<div class="row">
										<div class="col-md-2">
										</div>
										<div class="col-md-8">
											<div class="row">
												<div class="col-md-4">
													<div class="card">
														<img class="card-img-top" alt="Bootstrap Thumbnail Second"
															src="./img/GA5W1Q69%5B~EA%7B998)YJ6M2E.jpg" />
														<div class="container">
															<div class="card-block pt-3">
																<h5 class="card-title">
																	第一届歌唱大赛（初赛）
																</h5>
																<p class="card-text">
																	开始时间：
																</p>
																<p class="card-text">
																	结束时间：
																</p>

															</div>

															<div class="pt-3 pb-3">
																<a class="btn btn-primary btn-block " href="#">打分</a>
															</div>
														</div>

													</div>
												</div>
												<div class="col-md-4">
													<div class="card">
														<img class="card-img-top" alt="Bootstrap Thumbnail Second"
															src="./img/GA5W1Q69%5B~EA%7B998)YJ6M2E.jpg" />
														<div class="container">
															<div class="card-block pt-3">
																<h5 class="card-title">
																	第一届歌唱大赛（初赛）
																</h5>
																<p class="card-text">
																	开始时间：
																</p>
																<p class="card-text">
																	结束时间：
																</p>

															</div>

															<div class="pt-3 pb-3">
																<a class="btn btn-primary btn-block " href="#">打分</a>
															</div>
														</div>

													</div>
												</div>
												<div class="col-md-4">
													<div class="card">
														<img class="card-img-top" alt="Bootstrap Thumbnail Second"
															src="./img/GA5W1Q69%5B~EA%7B998)YJ6M2E.jpg" />
														<div class="container">
															<div class="card-block pt-3">
																<h5 class="card-title">
																	第一届歌唱大赛（初赛）
																</h5>
																<p class="card-text">
																	开始时间：
																</p>
																<p class="card-text">
																	结束时间：
																</p>

															</div>

															<div class="pt-3 pb-3">
																<a class="btn btn-primary btn-block " href="#">打分</a>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>
								</ul>
						</div>
					</div>

					<!-- 分页栏 -->
					<div class="container-fluid">
						<div class="pt-4">
							<div class="container">

								<div class="row">
									<div class="col-md-4">
									</div>
									<div class="col-md-4">
										<nav>
											<ul class="pagination">
												<li class="page-item">
													<a class="page-link" href="#">上一页</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="#">1</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="#">2</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="#">3</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="#">4</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="#">5</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="#">下一页</a>
												</li>
											</ul>
										</nav>
									</div>
									<div class="col-md-4">
									</div>
								</div>
							</div>
						</div>

					</div>

			</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
