<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>用户主界面</title>
	</head>
	<body>
	<div id="container-sm">
		<!-- 顶部 -->
		<div class="container">
			<div class="row">

				<div class="col-md-1">
<!--					<img th:src="@{/img/LOGO.png}" class="img-responsive" alt="Responsive image">-->
				</div>

				<div class="col-10">
					<img th:src="@{/img/主页.png}" class="img-responsive" alt="Responsive image">
				</div>


			</div>
		</div>

		<!-- 搜索框 -->
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4" style="margin: 20px auto 20px auto ;">
				<form action="#" method="" class="bs-example bs-example-form" role="form">
					<div class="input-group mb-3">
						<input type="text" class="form-control" style="height: 60px;" placeholder="输入比赛名称进行快速定位搜索"
							   aria-label="Recipient's username" aria-describedby="basic-addon2" />
						<span class="input-group-append">
								<button class="btn btn-primary" type="submit">
									搜索
								</button>
							</span>
					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>




		<!-- 投票主界面 -->
		<div class="row">
			<div class="container-fluid">
				<div class="pb-5">
					<div class="row">
						<div class="col-md-2">
						</div>
						<div class="col-md-8">
							<div class="row pt-3">

								<div class="col-4 pt-3" th:each="row : ${dataTable.rows}">
									<div class="card">
										<img class="card-img-top" alt="Bootstrap Thumbnail Second"
											 th:src="@{/img/GA5W1Q69%5B~EA%7B998)YJ6M2E.jpg}" />
										<div class="container">
											<div class="card-block">
												<h5 class="card-title" th:text="${row.matchName}">
													第一届歌唱大赛（初赛）
												</h5>
												<p class="card-text">
													开始时间：<span th:text="${#dates.format(row.matchBeginTime,'yyyy-MM-dd HH:mm:ss')}"></span>
												</p>
												<p class="card-text">
													结束时间：<span th:text="${#dates.format(row.matchEndTime,'yyyy-MM-dd HH:mm:ss')}"></span>
												</p>
											</div>
											<div class="pt-3">
												<div class="row pb-3">
													<div class="col-6">
														<a class="btn btn-primary btn-block vote-btn" href="#" data-toggle="modal" data-target="#exampleModal" >投票</a>
														<span style="visibility: hidden" name="matchId" th:text="${row.matchId}"></span>
													</div>
													<div class="col-6">
														<a class="btn btn-primary  btn-block btnSign" data-toggle="modal" data-target="#myModal" href="#">报名</a>
														<span style="visibility: hidden" name="matchId" th:text="${row.matchId}"></span>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
			</div>
		</div>


			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">报名信息</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="exampleInputName2">初赛曲目</label>
								<input type="text" class="form-control" id="exampleInputName2" name="firstTitle" placeholder="请输入初赛曲目">
							</div>
							<div class="form-group">
								<label for="exampleInputName1">复赛曲目</label>
								<input type="text" class="form-control" id="exampleInputName1" name="lastTitle" placeholder="请输入复赛曲目">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消报名</button>
							<button type="button" class="btn btn-primary" id="signUp">报名</button>
						</div>
					</div>
				</div>
			</div>



		<!--投票模态框-->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">请选择投票的赛程</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<select class="form-control" id="choseSchedule">
							<option value="">--请选择赛程--</option>
							<option value="1">初赛</option>
							<option value="2">决赛</option>
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="confirm-btn">确定</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 分页栏 -->
		<div class="container-fluid">
			<div class="pt-4">
				<div class="container">

					<div class="row">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
							<nav>
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" th:href="@{/system/home/{num}(num=${pages.prePage})}">上一页</a>
									</li>

									<li class="page-item" th:each="page : ${pages.navigatepageNums}">
										<a class="page-link" th:href="@{/system/home/{num}(num=${page})}" th:text="${page}"></a>
									</li>
									<li class="page-item">
										<a class="page-link" th:href="@{/system/home/{num}(num=${pages.nextPage})}">下一页</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="col-md-4">
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	</body>
<!--	<script th:src="@{/js/jquery.min.js}"></script>-->
<!--	<script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>-->
<!--	<script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--	<script th:src="@{/js/bootstrap.js}"></script>-->
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="@/static/ruoyi/js/ry-ui.js" th:src="@{/ruoyi/js/ry-ui.js?v=4.7.4}"></script>

	<script>
		$(document).ready(function (){
			var matchId;

			$(".vote-btn").click(function (){
				matchId = $(this).next().text();

			});

			$("#confirm-btn").click(function (){
				var choseSchedule = $("#choseSchedule").find('option:selected').val();
				console.log($("#choseSchedule").find('option:selected').val());
				$.modal.open("观众投票页面","/votPage/1/" + matchId + "/" + choseSchedule,1400,700,function () {

				});

			});

			$(".btnSign").click(function (){
				matchId = $(this).next().text();
				console.log($(this).next().text());
			});
			$("#signUp").click(function () {
				var fitstTitle = $.common.trim($("input[name='firstTitle']").val());
				var endTitle = $.common.trim($("input[name='lastTitle']").val());
				// alert("初赛:" + fitstTitle + "\n" +  "决赛: "+ endTitle   + "比赛id:" + matchId);
				$.ajax({
					type: "post",
					url: "/signUp",
					data: {
						"matchId": matchId,
						"firstTitle": fitstTitle,
						"endTitle": endTitle
					},
					success: function(r) {
						if (r.code == 500){
							alert(r.msg);
						}
						window.location.reload()
					},
				});
			})
		});
	</script>
</html>
